*{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}
body{
    background-color: rgb(38, 30, 30);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body h1{
    color: aliceblue;
    font-size: 50px;
}
.card{
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(58,58,198,1) 45%, rgba(2,0,36,1) 84%);)
    height: 600px;
    width: 400px;
    text-align: center;
    border-radius: 40px;
    color: aliceblue;
    padding-bottom: 30px;


}
.searchbar{
    margin-left: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: ;
    gap: 15px;
}
.card .searchbar input{
    border: 0;
    outline: 0;
    background-color: aliceblue;
    color: #555;
    margin-top: 50px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    padding-left: 5px;
}
.card button{
    border: 0;
    outline: 0;
    background-color: aliceblue;
    color: #555;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 50px;
    cursor: pointer;
}
#weatherimg{
    font-size: 100px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: ;
    padding:  20px;
    margin-top: 50px;
    gap:10px;
}
.col{
    display: flex;
    align-items: center;
    
}
#ii{
    margin-left: 80px;
    
}
.fa-water{
    font-size: 50px; ;
}
.fa-wind{
    font-size: 50px;
}

.error{
    margin-top: 3px;
    display: none;
}
